<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <title th:text="#{registration.registration}">Registration</title>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<div class="container py-5">
    <div class="row text-center mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4" th:text="#{registration.registration}">Registration</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <form th:action="@{/users}" enctype="multipart/form-data" method="post" th:object="${user}">
                <label for="username"><span th:text="#{registration.username}">Username:</span>:
                    <input id="username" type="text" class="form-control" name="username" th:value="*{username}">
                </label><br>
                <label for="rawPassword"><span th:text="#{registration.password}">Password:</span>:
                    <input id="rawPassword" type="password" class="form-control" name="rawPassword">
                </label><br>
                <label for="firstname"><span th:text="#{registration.firstname}">First Name:</span>:
                    <input id="firstname" type="text" class="form-control" name="firstname" th:value="*{getFirstname}">
                </label><br>
                <label for="lastname"><span th:text="#{registration.lastname}">Last Name:</span>:
                    <input id="lastname" type="text" class="form-control" name="lastname" th:value="*{getLastname}">
                </label><br>
                <label for="phone"><span th:text="#{registration.phone}">Phone:</span>:
                    <input id="phone" type="text" class="form-control" name="phone" th:value="*{phone}">
                </label><br>
                <label for="money"><span th:text="#{registration.money}">Money:</span>:
                    <input id="money" type="text" class="form-control" name="money" th:value="*{money}">
                </label><br>
                <label for="birthDate"><span th:text="#{registration.birthDate}">BirthDate:</span>:
                    <input id="birthDate" type="date" class="form-control" name="birthDate" th:value="*{birthDate}">
                </label><br>
                <div th:if="${authenticatedUserRole == 'ADMIN'}" th:each="role : ${roles}">
                    <input th:id="${role}" type="radio" name="role" th:value="${role}"
                           th:checked="${role == user.role}">
                    <label th:for="${role}" th:text="${role}">Role name</label>
                </div>
                <button type="submit" class="btn btn-outline-info" th:text="#{registration.register}">Register</button>
            </form>
            <div th:if="${errors}">
                <p class="text-danger" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>